@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic|Roboto+Slab:400,700);

.quoteBlock {
	width:100%;
	min-height: 300px;
}

/*We are going to use this for the quotes - things that Vpap himself said*/

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 6em;
}

span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300 ;
	font-style: italic;
}